:root
{
    --primary: #0F2854;
    --secondary: #1C4D8D;
    --tertiary: #4988C4;
    --bg: #bde8f5;
    --white: #EEEEEE;
}
/*-----------------------*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*--------------------*/
body
{
    width: 100vw; height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 1rem;
}
.auth
{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding: 3rem 4rem;
    gap: 2rem;
    border-radius: 1rem;
}
input
{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    max-width: 15rem;
}
.input-name-wrapper, .input-password-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.input-name, .input-password
{
    width: 100%;
}
label
{
    font-weight: 600;
}
.input-password-wrapper
{
    position: relative;
}
#toggle-password
{
    position: absolute;
    right: 0.25rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.forgot-password-wrapper
{
    text-align: center;
}
.forgot-password-wrapper a
{
    text-decoration: underline;
}
.login-btn
{
    background-color: var(--tertiary);
    border-radius: 0.5rem;
    color: var(--white);
    padding-block: 0.5rem;
    border: none;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.241);
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 600;
}
.login-btn:hover
{
    background-color: var(--secondary);
}
.login-btn:active
{
    background-color: var(--tertiary);
}
@media (min-width: 320px) and (max-width: 680px)
{
    .auth
    {
        gap: 1rem;
    }
    .forgot-password-wrapper a
    {
        font-size: 0.75rem;
    }
}
